*,
*:before,
*:after{
  box-sizing: border-box;
}

html{
  font-family: 'Source Sans Pro', sans-serif;
}

#cfa #header{
  background: #ffffff;
  border: 1px solid #a1a1a1;
  border-radius: 0;
}

#cfa .navbar-brand{
  padding: 12px 0 8px 15px;
  line-height: 44px;
}

#cfa .navbar-brand img{
  max-height: 31px;
  width: auto;
}

#cfa #header_nav{
  text-align: right;
}

#cfa .full_banner{
  min-height: 100vh;
  padding-bottom: 90px;
  position: relative;
}

#cfa .full_banner{
  background: gray url('/images/CFA_Banner.png') center center no-repeat;
  background-size: cover;
}

#cfa .full_banner h1{
  font-family: 'SVN-Agency FB', sans-serif;
  font-weight: bold;
  font-size: 6rem;
  margin: 0;
}
#cfa .full_banner h1:last-of-type{
  margin-bottom: 15px;
}

#cfa .iliat_button{
  background: #6eb4b8;
  color: #ffffff;
  border: 1px solid #6eb4b8;
  padding: 0.4em 1em;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: 100;
}

#cfa .iliat_button:hover{
  background: #ffffff;
  color: #6eb4b8;
}

#cfa .fullbanner_content{
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

#cfa .banner_arrow{
  border: 0 none;
  background: transparent;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  animation: banner_arrow_animate .5s infinite ease-in-out alternate;
}

#cfa .iliat_dropdown_button{
  width: 100%;
  border: 2px solid #4d4d4d;
  background: #ffffff;
  border-radius: 5px;
  padding: 7px 20px;
  text-align: left;
  position: relative;
  font-weight: 400;
}

#cfa .dropdown_plus{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
}

#cfa .iliat_dropdown{
  position: static;
  float: none;
  box-shadow: none;
  border-radius: 0;
  border: 0 none;
  margin: 0;
  padding: 0;
}

#cfa .iliat_dropdown li a{
  border: 2px solid #4d4d4d;
  background: #4d4d4d;
  color: #ffffff;
  border-radius: 5px;
  padding: 7px 20px;
  font-weight: 400;
}

#cfa .iliat_dropdown li a:hover{
  background: #ffffff;
  color: #4d4d4d;
}

#cfa .iliat_navigator_desktop{
  top: 60px;
  left: 54px;
}

#cfa .iliat_navigator_mobile{
  margin: 15px 0;
}

#cfa .iliat_navigator_list{
  background: #4d4d4d;
  border-radius: 10px;
  padding: 10px 0;
  margin: 0;
}

#cfa .iliat_navigator_list li{
  list-style: none;
  position: relative;
  padding: 10px 20px;
  color: #ffffff;
  font-weight: bold;
}

#cfa .iliat_navigator_list li a{
  color: inherit;
  padding: 0;
}

#cfa .iliat_navigator_list li a:hover{
  background: transparent;
  text-decoration: underline;
}
#cfa .iliat_navigator_list li a:focus,
#cfa .iliat_navigator_list li a:active{
  background: transparent;
}

#cfa .iliat_navigator_list .highlight{
  background: #252525;
  border-bottom: 1px solid #616161;
}

#cfa .iliat_navigator_list .active{
  background: #6eb4b8;
}

#cfa .iliat_navigator_list .active:after{
  content: "";
  border: 10px solid transparent;
  border-left: 10px solid #6eb4b8;
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(0, -10px);
}

#cfa .iliat_navigator_list button{
  padding: 15px;
  width: 6em;
  background: #6eb4b8;
  color: #ffffff;
  border: 0 none;
  border-bottom: 5px solid #60898c;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 2rem;
  margin: 10px auto;
  display: block;
}

#cfa .ilat_content_block{
  padding: 60px 0;
}

#cfa .ilat_content_block h2{
  font-family: 'SVN-Agency FB', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 6rem;
  text-align: center;
  text-transform: uppercase;
}

#cfa .ilat_content_block h4{
  text-align: center;
}

#cfa .ilat_content_block h4.text-left{
  text-align: left;
}

#cfa .gray_bg{
  background: #e6e6e6;
}

#cfa .iliat_member_thumbnail{
  display: block;
  margin: 0 auto 25px;
  border: 4px solid #6eb4b8;
}

#cfa .iliat_timeline{
  margin-bottom: 30px;
  font-size: 0.5rem;
}

#cfa .iliat_timeline *{
  vertical-align: bottom;
}

#cfa .highlight_hours {
  font-family: 'SVN-Agency FB', sans-serif;
  font-weight: bold;
  font-size:  4em;
  text-transform: uppercase;
  color: #6eb4b8;
}
#cfa .highlight_hours p{
  display: inline;
}
#cfa .big_equal_sign{
  display: inline-block;
  margin: 0 1.2em;
}

#cfa .iliat_equal_piece{
  height: 1em;
  margin: 1.1em 0;
  width: 5em;
  background: #6eb4b8;
}

#cfa .timetable{
  display: inline-block;
}

#cfa .timetable h4 {
  font-size: 2.5em;
  position: relative;
  top: 10px;
  left: 10px;
}

#cfa .vertical_divider{
  display: inline-block;
  width: 2px;
  height: 6em;
  background: #6eb4b8;
  margin: 0 4em;
}

#cfa .iliat_timeline .iliat_button{
  width: 7em;
  font-size: 2em;
  margin: 0;
  position: relative;
  line-height: 1.2em;
}

#cfa .iliat_steps{
  margin-top: 30px;
}

#cfa .iliat_step_arrow{
  background: #6eb4b8;
  color: #ffffff;
  font-weight: bold;
  width: 90%;
  height: 30px;
  position: relative;
  text-align: center;
  font-size: 1.5em;
  padding-left: 15px;
  margin-bottom: 15px;
  left: -7px;
}

#cfa .iliat_step_arrow:before{
  content: "";
  border: 15px solid transparent;
  border-left: 15px solid #ffffff;
  left: 0px;
  top: 0;
  position: absolute;
}

#cfa .iliat_step_arrow:after{
  content: "";
  border: 15px solid transparent;
  border-left: 15px solid #6eb4b8;
  right: -30px;
  top: 0;
  position: absolute;
}

#cfa .price_tag{
  background: #ffffff;
  border: 5px dashed #6eb4b8;
  font-size: 0;
  height: 9rem;
  width: 100%;
  white-space: nowrap;
  margin: 15px 0 30px;
  border-radius: 2rem;
  text-align: center;
}

#cfa .price_tag:before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}

#cfa .price_tag_content{
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
  text-align: center;
}
#cfa .ILIATIntroduction h4 {
  font-weight: 600;
}
#cfa .price_tag_content h3,
#cfa .price_tag_content p{
  margin: 10px;
}

#cfa .price_tag_content p{
  font-size: 14px;
}

#cfa .price_tag_content h3 strong p{
  font-size: 2rem;
  color: #000000;
}
#cfa .ILIATTuitionFee_Content{
  font-size: 1.5rem;
}
#cfa .ILIATTuitionFee_StudentandWork{
  font-size: 2rem;
}

#cfa .footer{
  background: #4d4d4d;
  padding: 30px 0;
  color: #ffffff;
  font-weight: 100;
  text-align: center;
}

#cfa .footer_col{
  margin-bottom: 30px;
}

#cfa .footer h3{
  font-size: 3rem;
  margin-top: 0;
}

#cfa .footer a{
  color: inherit;
}

#cfa .footer nav a{
  display: block;
  font-size: 2rem;
  font-weight: 100;
}

#cfa .footer_logo{
  margin-bottom: 15px;
}

@media screen and (min-width: 768px){
 #cfa  #header_nav{
    text-align: center;
  }
 #cfa  #header_nav .center_menu{
    display: inline-block;
    float: none;
  }

 #cfa  #header_nav .iliat_header_button{
    background: #6eb4b8;
    color: #ffffff;
    border: 1px solid #6eb4b8;
    padding: 7px 15px;
    margin: 8px;
    border-radius: 10px;
    text-transform: uppercase;
  }

 #cfa  #header_nav .iliat_header_button:hover{
    background: transparent;
    color: #6eb4b8;
  }
 #cfa  .iliat_button{
  background: #6eb4b8;
  color: #ffffff;
  border: 1px solid #6eb4b8;
  padding: 0.4em 1em;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 3.2rem;
  margin-bottom: 10px;
  font-weight: 100;
}

#cfa  .ilat_content_block h2{
  font-size: 7rem;
  text-align: left;
}

#cfa  .iliat_timeline{
  font-size: 1rem;
}

#cfa  .iliat_step_arrow{
  height: 60px;
  padding-left: 30px;
  font-size: 3em;
}

#cfa .iliat_step_arrow:before{
  border-width: 30px;
}

#cfa  .iliat_step_arrow:after{
  border-width: 30px;
  right: -60px;
}

#cfa  .footer{
  text-align: left;
}
}

@keyframes banner_arrow_animate {
  from{
    bottom: 35px;
  }
  to{
    bottom: 25px;
  }
}

/*
 *  GLOBAL OVERRIDES
 */
.slick-slide:focus{
  outline: 0 none;
}

.slick-dots{
  padding: 0;
  margin: 0;
  text-align: center;
  margin-top: 30px;
}

.slick-dots li{
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

.slick-dots li button{
  border: 0 none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #4d4d4d;
  display: block;
  font-size: 0;
}

#cfa .slick-dots li.slick-active button,
#cfa .slick-dots li button:active{
  background: #6eb4b8;
}
